.container {
  max-width: 1200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.figure {
  margin: 0;
  padding: 0;
  position: relative;
}

.parkImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}

.figCaption {
  font-size: 0.8rem;
}

.ctaBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: 0.9;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: #6fbf73;
  border: 2px solid #6fbf73;
  border-radius: 50px;
  cursor: pointer;
  transition: border 0.3s ease;
  text-decoration: none;
  align-self: center;
  padding: 0.3em 2em;
}

.ctaBtn i,
.ctaBtn span {
  background-color: transparent;
}

.ctaBtn:hover i {
  color: #ffa500;
}

.ctaBtn:hover {
  border: 2px solid #ffa500;
  color: #ffa500;
}
