.loveParkContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.loveIcon {
  cursor: pointer;
  font-size: 1.3rem;
}

.backBtn {
  color: #6fbf73;
  padding: 0.5em 1em;
  border: 2px solid #6fbf73;
  margin-left: 0.5em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.backBtn:hover {
  color: #ffa500;
  border: 2px solid #ffa500;
}

.figure {
  margin: 2em 0;
  padding: 0;
}

.figCaption {
  font-size: 0.8rem;
}

.parkImg {
  width: 20em;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}
