.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.3em;
  max-width: 700px;
}

.introSection {
  margin-bottom: 1.5em;
}

.parkNameAndBackBtnWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.backBtn {
  color: #6fbf73;
  border: 2px solid #6fbf73;
  transition: all 0.3s ease;
  cursor: pointer;
}

.backBtn:hover {
  color: #ffa500;
  border: 2px solid #ffa500;
}

.parkTitleIconContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.parkTitle {
  font-size: 1.3rem;
}

.heartBtn {
  all: unset;
  cursor: pointer;
}

.loveIcon {
  font-size: 1.3rem;
}

.figure {
  margin: 0.5em 0 1.5em;
  padding: 0;
}

.figCaption {
  font-size: 0.8rem;
}

.parkImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}
