.loveParkContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.loveIcon {
  cursor: pointer;
  font-size: 1.3rem;
}

.figure {
  margin: 0;
  padding: 0;
}

.parkImg {
  width: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}
