.main {
  /* border: 2px solid lightgreen; */
  width: 700px;
  max-width: 100%;
}

.adventureTitle {
  margin: 2em 0 0.1em;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2em 0 4em;
  gap: 1em;
}

.searchPark,
.selectBtn {
  border-radius: 12px;
  border: 2px solid #6fbf73;
  padding: 1em;
  color: #6fbf73;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selectBtn {
  border: 2px solid #6fbf73;
  color: #6fbf73;
}

.searchPark:hover,
.selectBtn:hover {
  color: #ffa500;
  border: 2px solid transparent;
}

.searchPark:hover::placeholder {
  color: #ffa500;
}

.searchPark {
  flex: 1;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.parkListContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 1em;
}

.figure {
  width: 180px;
  height: 150px;
  overflow: hidden;
  display: block;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
