.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

/* @media (max-width: 767px) {
  .appContainer {
    width: 90%;
  }
} */
