/* ========== body ========== */
* {
  background-color: #1c1c1c;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  font-family: "Funnel Display", sans-serif;
  color: #fffbf9;
}

/* ========== headings ========== */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alan Sans", sans-serif;
  margin: 0;
}

/* ========== buttons ========== */
